<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/login.css')}}">
    <title>Login</title>
</head>
<body>
    <form class='login_form' action='/' method='POST'>
        <!-- confirm details sent through form after generation -->
        {{form.csrf_token}}
        {{form.username.label}} {{form.username}}
        <ul>
            {% for error in form.username.errors %}
            <li style='color:red'>{{error}}</li>
            {% endfor %}
        </ul>
        
        {{form.password.label}} {{form.password}}
        <ul>
            {% for error in form.password.errors %}
            <li style='color:red'>{{error}}</li>
            {% endfor %}
        </ul>

        <input type='submit' value='Submit'>
    </form>
   
</body>
</html>